*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ada9a9;
}

.noticia{
    text-decoration: none;
    margin-left: 10px;
    float: left;
    color: white;
    padding: 5px;
    margin-top: auto;
    border-spacing: 5px;
}

.noticia:hover{
    color: purple;
}
 
div{
    margin: auto;
}


.H1{
    background-color: purple;
    border: 1px solid purple;
    color: aliceblue;
    font-size: 400%;
    font-style: inherit;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.nav1{
    background-color: #b85bb8;
    text-align: left;
    font-size: 150%;
    word-spacing: 45px;
    text-decoration: none;
    padding: 15px; 
    font-style:unset;
}

.cabeçalho{
    text-decoration: none;
    color: white;
}

.cabeçalho:hover{
    color: purple;
}

article{
    border: 5px solid #ada9a9;
    margin:45px 65px;
    text-align: center;
}


.direita{
    float: right;  
    padding: 10px;
}

.direita:hover{
 background-color: purple;
}

.esquerda:hover{
    background-color: purple;
    text-align: end;
}

.link{
    text-decoration: none;
}

