
h1{
    background-color: rgb(70, 100, 126);
    border: 1px solid rgb(70, 100, 126);
    color: aliceblue;
    font-size: 400%;
    font-style: inherit;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2{
    margin: 0;

}

.cabeçalho{
    color: rgba(250, 251, 252, 0.979);
    text-decoration: none;
}

.esquerda{
    float: left;
    padding: 0 20px;
}

.direita{
    float: right;
    padding: 3px;
}

main{
    max-width: 1260px;
    margin: auto;
    text-align: justify;
}

.mat{
    float: right;
    margin: 20px;
    margin-right: 85px;
    height: 250px; /*ERA SÓ A ALTURA QUE PRECISAVA ARRUMAR LULU S2*/
    text-align: justify;
    font-size: 13px;
    width: 300px;
    
}

.politica{
    text-decoration: none;
}

nav{
    background-color: rgb(61, 74, 85);
    text-align: left;
    font-size: 150%;
    word-spacing: 20px;
    text-decoration: none;
    padding: 5px;
    
}

.img1{
    border-radius: 2%;
}

.img2{
    border-radius: 2%;
}

.img3{
    border-radius: 2%;
}

.img4{
    border-radius: 2%;
    margin-top: 50px;
}

.img5{
    border-radius: 2%;
    margin-top: 50px;
}

.img6{
    border-radius: 2%;
    margin-top: 50px;
}

a{
    color: black;
}

a:hover{
    background-color: rgb(70, 100, 126);
    text-decoration: underline aliceblue;
}


