h1{
    background-color: rgb(70, 100, 126);
    border: 1px solid rgb(70, 100, 126);
    color: aliceblue;
    font-size: 400%;
    font-style: inherit;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.cabeçalho{
    color: rgba(250, 251, 252, 0.979);
    text-decoration: none;
}

.esquerda{
    float: left;
    padding: 0 20px;
}

.direita{
    float: right;
    padding: 3px;
}

main{
    max-width: 1200px;
    margin: auto;
    text-align: justify;
}

.mat1{
    float: left;
    margin: 0;
    height: 600px;
    text-align: justify;
}

.mat2{
    float: right;
    margin: 0;
    height: 600px;
    text-align: justify;
}

.politica{
    text-decoration: none;
}

nav{
    background-color: rgb(61, 74, 85);
    text-align: left;
    font-size: 150%;
    word-spacing: 20px;
    text-decoration: none;
    padding: 5px;
    
}

a{
    color: black;
}

a:hover{
    text-decoration: solid black;
}